<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089760369116-jfef0m9t6l1m2s385g53m4f5mi37p46d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089760369116-jfef0m9t6l1m2s385g53m4f5mi37p46d</string>
	<key>API_KEY</key>
	<string>AIzaSyCBz-NrDnfdg7GPdQdeMQBgoxHamGQ3IsM</string>
	<key>GCM_SENDER_ID</key>
	<string>1089760369116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miyal.chaudharyChickenUsersApp</string>
	<key>PROJECT_ID</key>
	<string>chaudhary-chicken</string>
	<key>STORAGE_BUCKET</key>
	<string>chaudhary-chicken.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089760369116:ios:a3b9c0b25db69bc49f1719</string>
</dict>
</plist>